<!DOCTYPE html>
<html>
 <head>
  <title>ECsite</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default navbar-inverse">
     <%= button_to "LOGO", root_path %>
      <% if user_signed_in? %>
       <%= button_to "商品一覧", admin_items_path, method: :get %>
       <%= button_to "会員一覧", admin_customs_path, method: :get %>
       <%= button_to "注文履歴一覧", admin_homes_top_path, method: :get %>
       <%= button_to 'ジャンル一覧', admin_shops_path, method: :get %>
       <%= button_to "管理者ログアウト", destroy_user_session_path, method: :delete %>
      <% elsif customer_signed_in? %>
       <%= link_to "ようこそ、"+current_customer.last_name+"さん！", customers_my_page_path %>
       <%= button_to 'マイページ', customers_my_page_path, method: :get %>
       <%= button_to "商品一覧", items_path, method: :get %>
       <%= button_to "カート一覧", cart_items_path, method: :get %>
       <%= button_to "会員ログアウト", destroy_customer_session_path, method: :delete %>
      <% else %>
       <%= button_to "About", homes_about_path, method: :get %>
       <%= button_to "管理者新規登録", new_user_registration_path, method: :get %>
       <%= button_to "管理者ログイン", new_user_session_path, method: :get %>
       <%= button_to "新規会員登録", new_customer_registration_path, method: :get %>
       <%= button_to "会員ログイン", new_customer_session_path, method: :get %>
      <% end %>
   </nav>
  </header>
   <%= yield %>

  </body>
</html>
